/* Settings */
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0E0E0E;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
p {
  margin: 0;
}

input,
button,
textarea {
  appearance: none;
  background: transparent;
  border: none;
}

/* Common rules */

.section {
  padding: 90px 0;
}

.hero__title,
.section__title,
.section__heading {
  font-family: "DM Serif Display", serif;
}

.section__title {
  font-size: 40px;
  line-height: 55px;
}

.section__heading {
  font-size: 24px;
  line-height: 33px;
}

.section__text,
.section__subject {
  font-family: "Roboto", sans-serif;
}

.section__subject {
  font-size: 20px;
  font-weight: 500;
  line-height: 23;
}

.section__text {
  line-height: 19px;
}

/* Bogdan */

/* Kingsley */

/* George */